@model JOOLE.ModelsDTO.CustomerDTO

@{
	Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
	<title>SignUp V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/Design/login_design/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Design/login_design/css/main.css">
	<!--===============================================================================================-->
	<style>
		.field-validation-error {
			color: red;
		}

		.input-validation-error {
			border: 2px solid red;
		}
		.login100-pic {
			position:relative;
			top:110px;
			right:50px;
			width: 400px;
			height:400px;

		}
	</style>
</head>
<
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/Design/login_design/images/logo.png" alt="IMG">
				</div>
				@using (Html.BeginForm("SignUp", "Login", FormMethod.Post, new { enctype="multipart/form-data"}))
				{
					@Html.AntiForgeryToken();
					<span class="login100-form-title">
						Member SignUp
					</span>

					if (ViewBag.message != null)
					{
						<p>@ViewBag.message</p>
					}

					<div class="wrap-input100">
						@Html.TextBoxFor(m => m.USERNAME, new { placeholder = "New Username", @class = "input100", type = "text", name = "Username" })
						@Html.ValidationMessageFor(m => m.USERNAME)
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100">
						@Html.TextBoxFor(m => m.PASSWORD, new { placeholder = "New Password", @class = "input100", type = "password", name = "pass1" })
						@Html.ValidationMessageFor(m => m.PASSWORD)
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100">
						@Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "input100", type = "password", name = "pass2" })
						@Html.ValidationMessageFor(m => m.ConfirmPassword)
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100">
						@Html.TextBoxFor(m => m.FULLNAME, new { placeholder = "Full Name", @class = "input100", type = "text", name = "pass" })
						@Html.ValidationMessageFor(m => m.FULLNAME)
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
							<br />
							<br />
					<div class="wrap-input100">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<input type="file" name="ImageFile" class="ui-button-icon-primary" />
						</span>
					</div>
					

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>


					<div class="text-center p-t-136">
						<a class="txt2" href="@Url.Action("Login","Login")">
							Log In
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>

				}

			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="~/Design/login_design/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Design/login_design/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Design/login_design/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Design/login_design/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Design/login_design/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/Design/login_design/js/main.js"></script>

</body>
</html>

